@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    margin: 50px 0;
}

header a {
    /* color: rgb(255, 255, 254); */
    /* color: #2ec5d3; */
    /* text-decoration: none; */
}

.pages {
    /* max-width: 1600px; */
    padding: 20px;
    margin: 0 auto;
}