@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    margin: 50px 0;
}

header a {
    color: #fff;
    text-decoration: none;
}

.pages {
    max-width: 1400px;
    padding: 40px;
    margin: 0 auto;
}